*{
    padding: 0px;
    margin: 0px;
}


.full{
    height: 700px;

}
.head{
    height: 50px;
    background-color: black;
    color: white;

}
.body{
    height: 600px;
    width: 700px;
    background-color: antiquewhite;
    margin-top: 40px;
    margin-left: 200px;
    padding: 20px;
}
.para{
    font-size: 20px;
    font-family: Arial black;
}
h1{
    color: red;
    align-items: center;
    display: flex;
}